<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        
        
        
        <div class="author-info">
        <h1 class="author-title" itemprop="name" style="color: #000000;">{{author.name}}  </h1>
        <h2 class="author-bio" itemprop="description" style="color: #000000;" style="text-align: center;">{{author.bio}}</h2> 
        <p class="author-quote" itemprop="quote">{{author.quote}}</p>

        <p style="text-align: center;" class="author-contact" >
        <a href="mailto:ajay.gunalan@pm.me" class="author-email" itemprop="contact" style="color: #566573;" style="text-align: center;">{{author.email}}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="tel:+393203496112" class="author-phone" itemprop="contact" style="color: #566573;" style="text-align: center;">{{author.phone}}</a>
        </p>

        <div class="author-meta" style="color:#000000;">

            <a href="{{ site.github.url }}/" class="main-link">
            About</a>

            <a href="{{ site.github.url }}/research.html" class="main-link">
            Research</a>

            <a href="https://github.com/{{ author.github }}" class="main-link">
            GitHub</a>

            <a href="{{ site.github.url }}/assets/ajayg_cv.pdf" class="main-link">
            CV</a>

            <a href="{{ site.github.url }}/blog.html" class="main-link">
            Blog</a>
    
        </div>        
        
        
        
        
        
        
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
